body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  padding-bottom: 50px;
}

.map {
  transform: translateY(40px);
  border-radius: 15px;
  box-shadow: 7px 7px 19px 0px  rgba(189,192,199,1), 
              -7px -7px 19px 0px  rgba(189,192,199,1),
              7px -7px 19px 0px  rgba(189,192,199,1),
              -7px 7px 19px 0px  rgba(189,192,199,1);                
}

path {
  stroke: #ccc;
  stroke-width: 0.25px;
}

.title {
  transform: translateY(35px);
  text-align: center;  
  font-weight: 600;
  font-size: 40px;
  margin: 0;
}

.description {
  transform: translateY(25px);
  /* font-weight: 600; */
  font-size: 18px;
}

.tooltip {
  opacity: 0;  
  position: absolute;
  pointer-events: none;                    
  border-radius: 5px;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-family: monospace;
  background-color:rgba(0, 0, 0, 0.8);
  color: white;
}

.highlight {
  stroke-width: 2.5;
  stroke: black;
}